@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Space Mono", monospace;
    text-decoration: none;
    letter-spacing: 0.1rem;
  }
}

@layer components {
  .btn__primary {
    @apply w-full sm:w-1/3 grid place-items-center border-2 border-stone-950 rounded-lg px-6 py-2 shadow-retro__dark uppercase tracking-wider focus:shadow-retro__circle focus:translate-y-1;
  }

  .input__field {
    @apply w-full border-2 border-stone-700 border-dashed outline-none rounded-lg bg-transparent text-fSize__md focus:border-solid;
  }

  .input__label {
    @apply text-fSize__md sm:w-1/4 font-semibold;
  }

  .input__block {
    @apply flex flex-col sm:flex-row gap-2 sm:gap-4 sm:items-center;
  }

  .tab {
    @apply flex gap-3 justify-center items-center border-r-4 border-stone-950 py-4 px-6 h-full font-semibold hover:bg-stone-300 hover:border-4 hover:py-3;
  }

  .table__header {
    @apply px-6 py-3 text-fSize__sm font-medium text-stone-50 uppercase tracking-wider text-center;
  }

  .table__row {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-900;
  }

}

.field_with_errors {
  width: 100%;
}

/* scrollbar */
::-webkit-scrollbar { 
  width: 1.15rem;
}

::-webkit-scrollbar-track {
  background: rgb(231, 229, 228);
  border: 2px solid rgb(12, 10, 9);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 162, 158);
  border: 3px solid rgb(12, 10, 9);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 162, 158);
}
/* scrollbar - up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  width: 100%;
  aspect-ratio: 1.15;
  border: 2px solid rgb(12, 10, 9);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z'/%3E%3C/svg%3E") center;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  color: rgb(128, 128, 128); 
}

/* scrollbar - down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  width: 100%;
  aspect-ratio: 1.15;
  border: 2px solid rgb(12, 10, 9);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E") center;
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  color: rgb(128, 128, 128); 
}