<div class="w-full h-fit sm:p-2 grid place-items-center text-fSize__xl uppercase font-semibold">
  <h1><%= @expenses.first.date.strftime("%B %Y") %></h1>
</div> 

<div class="hidden w-full lg:grid place-items-center">
  <%= render partial: "expenses_table" %>
</div>

<div class="w-full grid place-items-center lg:hidden">
  <%= render partial: "expenses_table_sm" %>
</div> 
